.user-form-main{
   width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top:60px;
}

.div-user-title{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.form-user{
    display: flex;
    justify-content: center;
    align-items: center;
}

.form {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.div-user-inputs{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    width: 100%;
}


.user-form-inputs{
    width: 90%;
}