.client_main_div{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top:60px;
}

.client_title{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.form {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.client_form_container{
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.input_container{
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;

}


.div_column{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
}

.user-form-inputs{
    width: 100%;
}

.client-add-button{
    display: flex;
    justify-content: space-between;
    width: 30%;
    margin-top: 20px;
}